.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 70px;
    z-index: 10;

}

.headerLinksBox {
    position: relative;
    padding-left: 20px;
    padding-right: 40px;
}

.headerItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-family: "Verdana";

}

.headerLink {
    text-decoration: none;
    color: #1c1c1c;
    width: 100px;
}

/* Personal Box*/

.intro {
    margin-top: 70px;
}

.personalBox {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-evenly;
    background-color: #e83b24;
    height: 550px;
}

.selfImage {
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}

.nameBox {
    flex-direction: column;
}

/* ABOUT ME*/

.aboutMeBox {
    height: 500px;
    padding-top: 20px;
}

.aboutMeText {
    font-family: "Verdana";
    color: #1c1c1c;
    text-align: center;
}

.aboutMeSlides {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.aboutMeSingleSlide {
    background-color: #ffffff;
    border-radius: 10px;
    height: 250px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SKILLS*/

.skillsBox {
    background-color: #ffffff;
}

.skillsCharts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hardSkillsBox {

}

/*PROJECTS*/

.projectsBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
}

.projectLogo {
    width: 200px;
    height: auto;
    border-radius: 50px;

}

.projectSlide {
    width: 60%;
    height: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

/* CONTACTS*/

.bottomLinks {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    display: flex;
    margin-right: 42px;
}

.bottomLink {
    margin: 5px;
}

.footer {
    display: flex;
    justify-content: center;
}

body {
    flex-direction: column;
    background-color: #FDF3F2;
    width: 100%;
    margin: 0;
}

.logo {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.triangle {
    left: 0;
}

.triangleUpsideDown {
    left: 0;
    background-color: #e83b24;
}

.textWhite {
    color: #ffffff;
    font-family: "Verdana";
}

.textBlack {
    color: #1c1c1c;
    font-family: "Verdana";
}

.sectionName {
    margin-left: 20px;
    margin-top: 20px;
    color: #1c1c1c;
    font-family: "Verdana";
}

#skills {
    position: relative;
    top: -70px;
}

#aboutMe {
    position: relative;
    top: -70px;
}

#contacts {
    position: relative;
    top: -70px;
}

#home {
    position: relative;
    top: -70px;
}

#projects {
    position: relative;
    top: -70px;
}


.extra {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectsSection {
    padding-top: 20px;
}

.skillsSection {
    padding-top: 20px;
}

/*Float example */

.floatExample {
    height: 500px;
}

.floatExampleTextBox {
    padding: 20px;
    font-family: "Verdana";
    font-size: 1.5em;
}

.diceLeftExample {
    height: 40px;
    width: 40px;
    float: left;
    margin: 20px;
}

.diceRightExample {
    height: 40px;
    width: 40px;
    float: right;
    margin: 20px;
}

.leafImage {
    width: 40px;
    height: auto;
}

.leafContainerLeft {
    float: left;
    margin: 20px;
}

.leafContainerRight {
    float: right;
    margin: 20px;
}

/* Pop up contacts */
.popUpContacts {
    margin-top: 150px;
    margin-left: 620px;
    height: 150px;
    width: 200px;
    position: fixed;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    z-index: 5;
    border-radius: 20px;
    background-color: #FDF3F2;
    align-items: center;
}

#buttonOpenContacts{
    width: 70px;
    height: 25px;
    background-color: #FDF3F2;
    border-radius: 5px;
    border: none;
    font-family: Verdana;
    font-size: 8px;
    font-weight: bold;
    color: #1c1c1c;
}

#buttonCloseContacts{
    width: 50px;
    height: 15px;
    margin-right: 15px;
    margin-top: 15px;
    align-self: flex-end;
    background-color: #e83b24;
    border-radius: 5px;
    border: none;
    font-family: Verdana;
    font-size: 8px;
    font-weight: bold;
    color: #FDF3F2;
}

#popUpContacts{
    margin-top: 40px;
    width: 200px;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    display: flex;
    margin-right: 42px;
}

.slideshow-container {
    max-width: 400px;
    position: relative;
}

.prevImage, .nextImage {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -45px;
    color: #efe9e2;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 15px 15px 0;
}

.nextImage {
    right: 0;
    border-radius: 15px 0 0 15px;
}

.prevImage:hover, .nextImage:hover {
    background-color: rgba(0,0,0,0.2);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #FDF3F299;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #ffffff;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
